container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
    leader_only: true
  02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
    leader_only: true
  03_migrate_db:
    command: "sudo npm run migrate:staging"
    test: '[[ $NODE_ENV = "staging" ]]'
    leader_only: true
  04_seed_db:
    command: "sudo npm run seed:staging"
    test: '[[ $NODE_ENV = "staging" ]]'
    leader_only: true
  05_migrate_db_prod:
    command: "sudo npm run migrate:production"
    test: '[[ $NODE_ENV = "production" ]]'
    leader_only: true